*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(./imagenes/fondo-netflix.jpg);
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.692);
    background-blend-mode: color-dodge; 


}

.flex-1{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.flex-2{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
}
.header img{
    max-width: 100%;
    height: auto;
    
    
   
}
.navegador{
    position: absolute;
    top: -4px;
    width: 100%;
    padding: 0 40px;
   
}
.navbar-brand{
    width: 130px;
    height: 70px;
    

}
.header-text{
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.btn-outline-success{
    width: 100%;
    border: none;
    border-radius: 5px;
}
.contenido-banner h1{
    font-size: 3.125rem;
    color: #f3f3f3;
    width: auto;

}
.contenido-banner h2{
    font-size: 1.5em;
    color: #f3f3f3;
    width: 700px;

}
.contenido-form  h3{
    width: 100%;
    letter-spacing: 1.3px;
    width: 700px;
    font-size: 16px;
    max-width: none;
    padding-bottom: 20px;
    color: #f3f3f3;

}
.dropdown .dropdown-toggle{
    margin-right: 30px;
    background-color: rgba(36, 36, 37, 0.582);
    color: #f3f3f3;
    border-color: #f3f3f3;
    border-radius: none;
}
.d-flex{
    margin-right: 20px;
}
.d-flex .btn-outline-success {
    padding: 3px 16px;
    background-color: red;
    color: #f3f3f3;
}
.contenido-form .btn-comenzar{
    color: #f3f3f3;
    padding: 10px 50px;
    background-color: red;
    font-size: 28px;
   
    border: none;
}
.input-group .form-control{
    background-color: aqua;
    border-color:gray ;
    border-radius: 0px;
    padding-left :5px;
    padding-right : 170px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 0px;
}
 .input-group .form-control{
    padding-left: none;
    padding-right: none;
}